{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="main-block">
      <h1>Change Password</h1>
     <form action="/changepassword" method="post">
        <hr>
            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input autocomplete="off" autofocus name="new" placeholder="New Password" type="password" required/>
            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input name="confirmation" placeholder="Confirm New Password" type="password" required />
        <div class="btn-block">

        <button type="submit">Save</button>
        </div>
      </form>
    </div>
    <br>
    <h1 style="text-align: left;">
    <div class="goo"><a href="/search">back</a></div>
         </h1>
         <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg><br>
            <div>
{% endblock %}