<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dict.me - Your cool dictionary 🔥</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/static/assets/css/untitled.css">
    <link href="/static/favicon.ico" rel="icon">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top"><strong>Dict.me</strong></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% if session.user_id %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/logout">log out</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/register">register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">sign in</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url('static/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="mx-auto header-content" data-aos="zoom-out" data-aos-duration="550" data-aos-once="true"><h1 class="mb-5">Dict.me is your dictionary app, it includes Quote of the Day, thousands of definitions and synonyms, and more!<br /></h1>
                {% if session.user_id %}
                    <a class="btn btn-outline-warning btn-xl" role="button" href="/search">Search</a>
                {% else %}
                    <a class="btn btn-outline-warning btn-xl" role="button" href="/search">Try it now</a>
                {% endif %}
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-once="true" class="device" style="background-image:url('static/assets/img/iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="static/assets/img/sc.png"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-mockup"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-primary download" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-11 mx-auto">
                    <h2 data-aos="fade-right" data-aos-once="true" class="section-heading">App features:</h2>
                    <div data-aos="fade-right" data-aos-once="true" class="badges"><p><br /><strong>Quote of the Day</strong><br />Get inspired each day with the best quotes about life, wisdom, love, friendship, work and more.<br /><br /><strong>Synonyms</strong><br /> Get thesaurus content alongside your dictionary definitions.<br /><br /><strong>Audio pronunciations</strong> <br />Never mispronounce another word.<br /><br /><strong>Search history</strong><br />Browse your recently searched word list, and never forget the newest words you’ve learned.<br /><br /></p><a class="badge-link" href="#"></a><a class="badge-link" href="#"></a></div>
                </div>
            </div>
        </div>
    </section><section id="contact" class="features">
    <div style="text-align: center;" class="container">
        <h2><span>Let's be friends! </span><i class="fa fa-heart"></i></h2>
    </div>
    <br>
    <div style="text-align: center;">
    <a href="https://github.com/merouanezouaid"> <svg class="octicon octicon-mark-github v-align-middle mx-1" height="60" aria-label="GitHub" viewBox="0 0 16 16" version="1.1" width="60" role="img"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a>
    <a href="https://www.linkedin.com/in/merouanezouaid/"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" /></svg></a>
    </div>
</section>
    <footer>
        <div class="container">
            <p>Data provided for free by Free Dictionary API<br><br>©&nbsp;Dict.me 2021.&nbsp; Made using Bootstrap 5<br><br></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="static/assets/js/new-age.js"></script>
</body>

</html>





<!-- quote of the day -->
<!-- word of the day -->
